doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
		link(rel="stylesheet" href="../src/assets/css/main.css")
		script(src="https://use.fontawesome.com/3634a5e73d.js")
		title Gulp
	body
		section.container
			nav.row
				section.col.l6
					img.imgLogo(src="../src/assets/img/logo.png", alt="")
				section.col.l6
					section.row
						section.col.l1.offset-l6.textoNav
							i(class="fa fa-facebook" aria-hidden="true")
						section.col.l1.textoNav
							i(class="fa fa-twitter" aria-hidden="true")
						section.col.l1.textoNav
							i(class="fa fa-google-plus" aria-hidden="true")
						section.col.l1.textoNav
							i(class="fa fa-dribbble" aria-hidden="true")
						section.col.l1.textoNav
							i(class="fa fa-linkedin" aria-hidden="true")
					section.row
						section.textoNav.col.l2.offset-l2.textoNav
							p.texto Lorem
						section.textoNav.col.l2.textoNav
							p.texto Lorem
						section.textoNav.col.l2.textoNav
							p.texto Lorem
						section.textoNav.col.l2.textoNav
							p.texto Lorem
						section.textoNav.col.l2.textoNav
							p.texto Lorem
			section.row.tituloSeccion
				section.col.l6
					h5 Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			section.row
				section.col.l5
					img(src="../src/assets/img/aboutus/1.png", alt="")
				section.col.l7
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis commodo felis.
			section.row
				section.col.l4
					img.imgPequenia(src="../src/assets/img/aboutus/3.jpg", alt="")
					h5 Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis commodo felis.
				section.col.l4
					img.imgPequenia(src="../src/assets/img/aboutus/2.jpg", alt="")
					h5 Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis commodo felis.
				section.col.l4
					img.imgPequenia(src="../src/assets/img/aboutus/1.jpg", alt="")
					h5 Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis commodo felis.
			section.row.tituloSeccion
				section.col.l6
					h5 Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				section.col.l6
					img.moto(src="../src/assets/img/home/tour-icon2.png", alt="")
			section.row
				section.col.l6.offset-l3
					h5 Lorem ipsum dolor sit amet
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis commodo felis.
			section.row
				section.col.l3
					img(src="../src/assets/img/aboutus/4.jpg", alt="")
				section.col.l3
					img(src="../src/assets/img/aboutus/3.jpg", alt="")
				section.col.l3
					img(src="../src/assets/img/aboutus/2.jpg", alt="")
				section.col.l3
					img(src="../src/assets/img/aboutus/1.jpg", alt="")
			section.row
				img(src="../src/assets/img/home/under.png", alt="")
			section.row.contenedorFooter
				section.col.l2
					p Lorem ipsum
						section.row
							img.imgFooter(src="../src/assets/img/home/profile1.png" alt="")
						section.row
							img.imgFooter(src="../src/assets/img/home/profile2.png" alt="")
				section.col.l3
					section.row.texto1
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt vestibulum lacus ac rhoncus. Cras non orci gravida,
					section.row
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt vestibulum lacus ac rhoncus. Cras non orci gravida,
				section.col.l3
					p Lorem ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					p Lorem ipsum
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				section.col.l4
					div.input-field.col.l12
						input.validate#first_name(type="text")
						label(for="first_name") First Name
					div.input-field.col.l12
						input.validate#last_name(type="text")
						label(for="first_name") Last Name
					div.input-field.col.l12
						textarea#textarea1.materialize-textarea
						label(for="textarea1") Textarea
					a.waves-effect.waves-light.btn SUBMIT


		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js", charset="utf-8")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js", charset="utf-8")
